/* Global Font */
/**:not(.material-symbols-outlined) {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
        Helvetica, Arial, "Lucida Grande", sans-serif !important;
}
/*
/* Full Wishlist Styles */

.wishlist-items {
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.wishlist-products-gridwish {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  padding: 15px;
}

#wishlist-items .wishlist-product-content img {
    /* Your styles here */
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
    padding: 10px;
}

#wishlist-items .product-details {
    display: flex;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 20px 10px;
    line-height: 1.4;
    border-top: 1px solid #f0f0f0;
    margin-top: 20px;
    border: none;
}

#wishlist-items .product-details h2 {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 10px;
    color: #333;
    margin: 0px;
    margin-right: 20px;
    margin-left: 10px;
}

.wishlist-product {
    border: 1px solid #e0e0e0;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.wishlist-product:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-color: #d5d5d5;
}

#wishlist-items {
    list-style: none;
}

/* Product Card Buttons */

.add-to-wishlist {
    background: none;
    border: 1px solid #d5d5d5;
    padding: 2px;
}

.add-to-wishlist:focus {
    background: none;
    border: 1px solid #d5d5d5;
    box-shadow: none;
    transition: all 0.3s ease;
}

.add-to-wishlist.active {
    background: none;
    box-shadow: none;
    transition: all 0.3s ease;
}

.add-to-wishlist.active .heart-icon.material-symbols-outlined {
    font-size: 35px; /* Adjust icon size */
    line-height: 1;
    font-variation-settings:
    'FILL' 1,    /* 0 = outline, 1 = filled */
    'wght' 100,  /* Weight: 100–700+ */
    'GRAD' 0,    /* Grade (thickness adjustment) */
    'opsz' 28;   /* Optical size: matches icon size */
    background: none;
    color: #333; /* Icon color */
    text-align: center;
    display: flex;
    -webkit-text-fill-color: red;
}

.add-to-wishlist:hover {
    background: none;
    box-shadow: none;
}

.action-button-wrap > a {
    background: none;
    border: 1px solid #d5d5d5;
    padding: 10px;
    margin-bottom: 10px;
}

.action-button-wrap > a:hover {
    background: none;
    box-shadow: none;
}

#wishlist-items .heart-icon.material-symbols-outlined {
    line-height: 1;
    font-variation-settings:
    'FILL' 1,    /* 0 = outline, 1 = filled */
    'wght' 100,  /* Weight: 100–700+ */
    'GRAD' 0,    /* Grade (thickness adjustment) */
    'opsz' 28;   /* Optical size: matches icon size */
    background: none;
    color: #333; /* Icon color */
    text-align: center;
    display: flex;
    -webkit-text-fill-color: red;
}

#wishlist-items .heart-icon.material-symbols-outlined:hover {
    font-size: 35px; /* Adjust icon size */
    line-height: 1;
    font-variation-settings:
    'FILL' 0,    /* 0 = outline, 1 = filled */
    'wght' 100,  /* Weight: 100–700+ */
    'GRAD' 0,    /* Grade (thickness adjustment) */
    'opsz' 28;   /* Optical size: matches icon size */
    background: none;
    color: #333; /* Icon color */
    text-align: center;
    display: flex;
    -webkit-text-fill-color: red;
}

#wishlist-items .heart-icon.material-symbols-outlined:active {
    line-height: 1;
    font-variation-settings:
    'FILL' 0,    /* 0 = outline, 1 = filled */
    'wght' 100,  /* Weight: 100–700+ */
    'GRAD' 0,    /* Grade (thickness adjustment) */
    'opsz' 28;   /* Optical size: matches icon size */
    background: none;
    color: #333; /* Icon color */
    text-align: center;
    display: flex;
    -webkit-text-fill-color: red;
}

.heart-icon.material-symbols-outlined {
    font-size: 35px; /* Adjust icon size */
    line-height: 1;
    font-variation-settings:
    'FILL' 0,    /* 0 = outline, 1 = filled */
    'wght' 100,  /* Weight: 100–700+ */
    'GRAD' 0,    /* Grade (thickness adjustment) */
    'opsz' 28;   /* Optical size: matches icon size */
    background: none;
    color: #333; /* Icon color */
    text-align: center;
    display: flex;
}

.heart-icon.material-symbols-outlined:hover {
    font-size: 35px; /* Adjust icon size */
    line-height: 1;
    font-variation-settings:
    'FILL' 1,    /* 0 = outline, 1 = filled */
    'wght' 100,  /* Weight: 100–700+ */
    'GRAD' 0,    /* Grade (thickness adjustment) */
    'opsz' 28;   /* Optical size: matches icon size */
    background: none;
    color: #333; /* Icon color */
    text-align: center;
    display: flex;
    -webkit-text-fill-color: red;
    transition: all .2s ease;
}

#wishlist-items .cart-icon.material-symbols-outlined {
    font-size: 35px; /* Adjust icon size */
    line-height: 1;
    font-variation-settings:
    'FILL' 0,    /* 0 = outline, 1 = filled */
    'wght' 100,  /* Weight: 100–700+ */
    'GRAD' 0,    /* Grade (thickness adjustment) */
    'opsz' 28;   /* Optical size: matches icon size */
    background: none;
    color: #333; /* Icon color */
    text-align: center;
    display: flex;
}

#wishlist-items .cart-icon.material-symbols-outlined:hover {
    line-height: 1;
    font-variation-settings:
    'FILL' 1,    /* 0 = outline, 1 = filled */
    'wght' 100,  /* Weight: 100–700+ */
    'GRAD' 0,    /* Grade (thickness adjustment) */
    'opsz' 28;   /* Optical size: matches icon size */
    background: none;
    color: #90c83e; /* Icon color */
    text-align: center;
    display: flex;
    transition: all .2s ease;
}

#wishlist-items a.added .cart-icon.material-symbols-outlined {
    font-size: 35px;
    line-height: 1;
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 0,
        'opsz' 28;
    background: none;
    color: #90c83e;
    text-align: center;
    display: flex;
}

.action-button-wrap a {
    background: none;
    box-shadow: none;
    transition: none;
    border: 1px solid #d5d5d5;
    padding: 1px;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}


/* Product Card Action Buttons */

#wishlist-items .wishlist-product-content {
    position: relative;
}

/* Ensure image is block and fills container */
#wishlist-items .wishlist-product-content img {
    display: block;
    width: 100%;
    height: auto;
}

/* View cart button positioned at bottom-left of image */
#wishlist-items .wishlist-product-content .added_to_cart {
    position: absolute;
    bottom: 160px;
    left: 5px;
    padding: 6px 10px;
    font-size: 14px;
    background: none;
    border: 1px solid #ccc;
    color: #333;
    text-decoration: none;
    z-index: 2;
    display: none; /* hidden by default */
    width: 50px;
    height: 50px;
}

/* Show only when Add to Cart has the "added" class */
#wishlist-items .wishlist-product-content .add_to_cart_button.added ~ .added_to_cart {
    display: inline-block;
}


/* Product Card Action Buttons Fin */


.product-details > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.wishlist-product .price {
  position: absolute;
  top: 200px;
  z-index: 1;
  background: none; /* optional for contrast */
  padding: 2px 6px;
  text-decoration: none;
  color: #333; /* Adjust color as needed */
  font-size: 16px;
  font-weight: 300;
  padding-right: 20px;
  width: 100%;
}

/* Form JS Variable Products */


.custom-add-to-cart-btn.button {
    background: none;
    box-shadow: none;
    transition: none;
    border: 1px solid #d5d5d5;
    padding: 10px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.custom-add-to-cart-btn.button:focus {
    background: none;
    box-shadow: none;
    transition: none;
    border: 1px solid #d5d5d5;
    padding: 10px;
    margin-bottom: 10px;
}

.custom-add-to-cart-btn.button:hover {
    background: none;
    box-shadow: none;
    transition: none;
    border: 1px solid #d5d5d5;
    padding: 10px;
    margin-bottom: 10px;
}


.custom-attribute-select {
    background: none;
    box-shadow: none;
    transition: none;
    border: 1px solid #d5d5d5;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    text-decoration: none;
}

.custom-attribute-select option {
    background: red;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    text-decoration: none;

}

.custom-attribute-select:focus {
    background: none;
    box-shadow: none;
    transition: none;
    border: 1px solid #d5d5d5;
    padding: 10px;
    margin-bottom: 10px;
}

/* Wrench */

.custom-overlay-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 999;
}

.custom-overlay-icon .material-symbols-outlined {
	font-size: 24px;
	color: #2d3748;
	background: #fff;
	border-radius: 50%;
	padding: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}



.custom-variation-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 10;
  padding: 10px;
  padding-top: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: none;
  height: 352px;
}

.custom-variation-wrapper.active {
  display: block;
}

/* Make sure the parent has relative positioning */
.wishlist-product {
  position: relative;
}

/* Rest of Styling */

.wishlist-info-banner > p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    text-decoration: none;
}

h1.wishlist-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    padding-top: 100px;
}

.wishlist-share-button {
    display: flex;
    justify-content: center;
    background-color: white;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #d5d5d5;
    margin-left: 48%;
}

.wishlist-share-button:focus {
    display: flex;
    justify-content: center;
    background-color: white;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #d5d5d5;
    margin-left: 48%;
}

.wishlist-share-button:hover {
    display: flex;
    justify-content: center;
    background-color: white;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #d5d5d5;
    margin-left: 48%;
}

.wishlist-info-banner .material-symbols-outlined {
    font-size: 24px;
	color: #2d3748;
	background: none;
	border-radius: 50%;
	padding: 4px;
    font-weight: 200;
}


